.fixed-table-body {
  overflow-x: auto;
  overflow-y: auto;
  height: auto;
  padding-bottom: 5px
}

.fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fixed-table-toolbar {
  position: absolute;
  top: -8px;
  left: 15px;
  z-index: 101;
}

.fixed-table-toolbar .btn {
  padding-right: 15px;
}

.fixed-table-toolbar .btn .caret {
  position: absolute;
  top: 13px;
  left: 27px;
}

.fixed-table-container {
  border: none;
}

.fixed-table-container table td button {
  margin-right: 5px !important;
}

.fixed-table-container table td i {
  padding-right: 5px;
}

.fixed-table-container tbody td {
  border-left: none;
}

.fixed-table-container thead th {
  border-left: none;
}

.fixed-table-container thead th {
  font-size: 12px;
}

.fixed-table-container tbody td {
  font-size: 12px;
  border-left: 0px;
  line-height: none !important;
  vertical-align: middle !important;
}

.text-nowrap {
  white-space: nowrap;
}

.text-overflow {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed-table-toolbar ul.dropdown-menu {
  min-width: 250px;
}

.bootstrap-table .table:not (.table-condensed ), .bootstrap-table .table:not (.table-condensed )>tbody>tr>td, .bootstrap-table .table:not (.table-condensed
  )>tbody>tr>th, .bootstrap-table .table:not (.table-condensed )>tfoot>tr>td, .bootstrap-table .table:not (.table-condensed )>tfoot>tr>th,
  .bootstrap-table .table:not (.table-condensed )>thead>tr>td {
  padding: 6px;
}

.fixed-table-container tbody  tr:last-child td{
  padding-bottom: 10px !important; 
}

.x-large > .modal-dialog {
     width: 90% !important;
 }
 
.fixed-table-toolbar ul.dropdown-menu {
  min-width: 250px;
}
