td {
  font-family: "Arial", "Helvetica", "sans-serif";
  letter-spacing: 0px;
  font-size: 12px;
  text-decoration: none;
}

input {
  font-family: "Arial", "Helvetica", "sans-serif";
  letter-spacing: 0px;
  font-size: 11px;
  text-decoration: none;
}

select {
  font-family: "Arial", "Helvetica", "sans-serif";
  letter-spacing: 0px;
  font-size: 10px;
  text-decoration: none;
}

.FixedTitleRow {
  position: relative; 
  top: expression(this.offsetParent.scrollTop-2); 
  z-index: 10;
  background-color: #000033;
}

tbody tr:first-child {
  inset-block-start: 0;
  position: sticky;
}